body{
    font-family: 'Space Grotesk', sans-serif;
    background: #FFFFFF;
}   
.all-container{
    display: grid;
    row-gap: 40px;

}


.parent-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2px;

}
h1{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 4%;

}
p{
    margin-top: 0;
    margin-bottom: 0;
}
.container{
    border: 1px solid gainsboro;
    width: 405;
    border-radius: 25px;
    line-height: 25px;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: rgba(20, 20, 43, 0.05);
    column-gap: ;


}
.in-content{
    margin-left: 8%;
}
.star{
    color: orangered;
    font-weight: 700;
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 20px;
}
.lorem{
    width: 75%;
    color: #8c8c95;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
}
.picture-details{
   

}
.author-name,.site-name {
    font-size: 18px;
}
.site-name{
    color: #8c8c95;
}

.profile-picture{
    width: 25%;
    border-radius: 20%;
    color: red;
}